{
  "db_host": "yamabiko.proxy.rlwy.net",
  "db_port": 30476,
  "db_user": "root",
  "db_password": "GcMUXiguwVSgvtjPmJHWAiqnLavgODYH",
  "db_schema": "railway",

  "server_host": "0.0.0.0",
  "server_port": 8080,

  "jwt_secret": "super_secret_key_12345_for_jwt_signing",
  "jwt_expiration_hours": 24,

  "bcrypt_work_factor": 10,

  "registration_key": "YOUR_SHARED_REGISTRATION_KEY"
}
