# Build directories
build/
bin/
obj/
out/
backend/build/
agent/build/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.db
*.opendb



# Vercel
.vercel/
node_modules/

# Logs & temp files
*.log
*.tmp

# vcpkg manifest installation folders
vcpkg_installed/
vcpkg-installed/
